# MongoDB temp files
/data/db/*
/data/db/
/data/mongodb/*
/data/mongodb_data/
/data/mongodb_data/*
data/mongodb_data
mongo_data/
*.wt
metrics.interim

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
MANIFES

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/